{% extends 'base.html.twig' %}

{% block breadcrumbs %}
    → Login
{% endblock %}

{% block body %}
    {% if error %}
        <div class="text-red-500 mb-2">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <form action="{{ path('app_login') }}" method="POST">
        <div>
            <label class="block text-sm text-gray-700 dark:text-gray-300 font-medium" for="_username">Email</label>
            <input class="block w-full shadow-sm border border-gray-300 dark:border-transparent text-sm dark:text-gray-800 rounded-md p-2 mt-1 mb-2" id="_username" type="text" name="_username" value="{{ last_username }}" />
        </div>
        <div>
            <label class="block text-sm text-gray-700 dark:text-gray-300 font-medium" for="_password">Password</label>
            <input class="block w-full shadow-sm border border-gray-300 dark:border-transparent text-sm dark:text-gray-800 rounded-md p-2 mt-1 mb-2" type="password" id="_password" name="_password" />
        </div>
        <input type="hidden" name="_target_path" value="{{ path('app_micro_post') }}" />
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
        <div>
            <button type="submit" class="shadow-sm block w-full dark:bg-indigo-500 dark:hover:bg-indigo-400 p-2 my-4 bg-indigo-600 hover:bg-indigo-500 rounded-md text-white">Login</button>
        </div>
        <div class="mt-2 text-center text-gray-600 dark:text-gray-400">
            Don't have an account yet? <a class="text-indigo-500 hover:underline" href="{{ path('app_register') }}">Register</a>
        </div>
    </form>
{% endblock %}